<script type="text/javascript">
	$(document).ready(function () {
	    $(".ex_users").click(function () {
			var i_id = $(this).attr('id')
			$(".container").html('<%= image_tag "loading.gif" %>')
			setTimeout(function () {
			        window.location.replace("/user/"+i_id);
			    }, 100);
	    })

	    $(function  () {
		  $("ol.example").sortable();
		})

		$(function (){
			var adjustment;

			$("ol.simple_with_animation").sortable({
			  group: 'simple_with_animation',
			  pullPlaceholder: false,
			  // animation on drop
			  onDrop: function  ($item, container, _super) {
			    var $clonedItem = $('<li/>').css({height: 0});
			    $item.before($clonedItem);
			    $clonedItem.animate({'height': $item.height()});

			    $item.animate($clonedItem.position(), function  () {
			      $clonedItem.detach();
			      _super($item, container);
			    });
			  },

			  // set $item relative to cursor position
			  onDragStart: function ($item, container, _super) {
			    var offset = $item.offset(),
			        pointer = container.rootGroup.pointer;

			    adjustment = {
			      left: pointer.left - offset.left,
			      top: pointer.top - offset.top
			    };

			    _super($item, container);
			  },
			  onDrag: function ($item, position) {
			    $item.css({
			      left: position.left - adjustment.left,
			      top: position.top - adjustment.top
			    });
			  }
			});
		})
		
		
		
		
});
	var i = 1;	
	function addLang(){
		var tmp = $("#g"+i).html();
		$("#g"+i+" #addLang").css("display", "none");
		$("#Languages").append('<div class="input-group" id ="g'+(++i)+'">'+tmp+'</div>');
		$("#g"+i+" #removeLang").attr("onclick","removeLang("+i+")");
	}

	function removeLang(k){
		if(k==i){
			$("#g"+(i-1)+" #addLang").css("display", "");
			$("#g"+k).remove();
			i--;
		}
		else $("#g"+k).remove();
	}

	function detail(login){
		console.log(login);
		window.open("/user/"+login, '_blank');
	}

	function search(){
		var tmp = '<div class="panel panel-default"><div class="panel-heading"><h4>Result</h4></div><div class="panel-body"><table class="table table-bordered table-hover tablesorter" id = "result_table">'
		

		var head = '<thead><tr><th rowspan="2" style="vertical-align:middle;">UserID<span style="cursor:pointer;" class="glyphicon glyphicon-sort" aria-hidden="true"></span></th><th rowspan="2" style="vertical-align:middle;">Name<span style="cursor:pointer;" class="glyphicon glyphicon-sort" aria-hidden="true"></span></th><th rowspan="2" style="vertical-align:middle;">Location<span style="cursor:pointer;" class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>'
		var checkL = 0;
		var req = [];
		$.each($("#req").children(),function(index,value){ 
			
			if(value.id == "Languages"){
				checkL = 1;
				head+= '<th colspan="'+($("#Languages").find(":selected")).length+'">LOC</th>';	
				var obj = new Object();
				obj.option = value.id;
				var lang = [];
				$.each($("#Languages").find(":selected"),function(index,value){
					lang.push(value.text)
				});
				obj.value = lang;
			}
			else {
				if(value.id != "Location"){
					head+= '<th rowspan="2" style="vertical-align:middle;cursor:pointer;">'+(value.id)+'</th>';
				}
				var obj = new Object();
				obj.option = value.id;
				obj.value = value.id == "Location" ? $("#Location").find(":selected").val() : $("#"+value.id+" input").val();
			}
			req.push(obj);
		});

		// head += '<th rowspan="2" style="vertical-align:middle;cursor:pointer;">Detail</th>'
		head+='</tr>';
		if(checkL == 1){
			lang = '<tr>'
			$.each($("#Languages").find(":selected"),function(index,value){
				lang+='<th style="vertical-align:middle;cursor:pointer;">'+(value.text)+'<span style="cursor:pointer;" class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>'
			});
			lang+='</tr>'
			head+=lang
		}
		head+='</thead>'
		tmp+=head;
		
		var myString = JSON.stringify(req);
		$.ajax({
		   type: "POST",
		   url: "/lookup",
		   data: myString,      
		   success: function(obj) {
		   	var body = "<tbody>"
		   	var i = 1;
		   	$.each(obj,function(key,value){
		   		// if(i > 10)return false;
		   		row = "<tr>"
		   		// row += "<td>"+(i++)+"</td>"
		   		row += '<td><a onClick=\'detail("'+value.login+'")\'>'+value.login+'</a></td>'
		   		row += "<td>"+value.user+"</td>"
		   		row += "<td>"+value["Location"]+"</td>"

		   		$.each($("#req").children(),function(inx,val){ 
		   			if(val.id == "Languages"){
		   				$.each($("#Languages").find(":selected"),function(k,v){
								row += "<td>"+value["langs"][v.text]+"</td>"			
		   				});
		   			}
		   			else if(val.id == "Location"){

		   			}
		   			else{
		   				row += "<td>"+value[val.id]+"</td>"
		   			}
		   		});
		   		// row += '<td><button type="button" class="btn btn-default btn-xs" onClick=\'detail("'+value.login+'")\'>More Detail</button></td>'
		   		row += "</tr>"
		   		// console.log(value["login"]);

		   		body+=row
		   	});
		   	body += "</tbody>"
		   	tmp+=body
		   	tmp+='</table>'
			$("#result").html(tmp);
			$("#result_table").tablesorter(); 
		   },
		   error:function (xhr, ajaxOptions, thrownError){
				if(xhr.status==404) {
					alert('Not Found Any Match Developer!');
				}
			}
		})
	}
</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>



<%=render "layouts/header"%>
<div class="container">

	<div class="col-md-11">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Look for Developer!</h4>
			</div>
			<div class="panel-body">
				<div class="col-md-6 col-xs-6">
					<h3>Requirements</h3>
					<ol class='simple_with_animation vertical list-group' id = "req">
					  
					<li class="list-group-item" id="Languages">
						Prefer Languages : 
					  	<div class="input-group" id ="g1">
					  		<button type="button" class="btn btn-danger btn-sm" id="removeLang" onclick="removeLang(1)">
								<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							</button>

					  		<button type="button" class="btn btn-default btn-sm" id="addLang" onclick="addLang()">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</button>

						  	<select class="form-control input-sm" style="width:150px">  
						  		<% @project_lang = @project_lang.sort_by{|x| x[1]}%>
						  		<option selected><%= @project_lang[0][0]%>
						  		<% @project_lang[1..-1].each do |x| %>
								<option><%=x[0]%>
								<%end%>
							</select>
						</div>
					</li>
					  
					</ol>

					<button type="button" class="btn btn-primary" onClick="search()">Go!!</button>
				</div>

				<div class="col-md-6 col-xs-6">
					<h3>Options</h3>
					<ol class="simple_with_animation vertical list-group">
						<li class="list-group-item" id ="Follower">
							Followers > : 
							<input type="text" class="form-control" size='10' id ="Follwer"></input>
						</li>
						<li class="list-group-item" id="Location">
							Location : 
							<select class="form-control input-sm">
								<%@user_country = @user_country.sort_by{|x| x[1]}%>
								<option selected><%= @user_country[0][1]%>
						  		<% @user_country[1..-1].each do |x| %>
								<option><%=x[1]%>
								<%end%>
							</select>
						</li>
						<li class="list-group-item" id="Experience">Experience > (Year) : 
							<input type="text" class="form-control" id ="Experience">
						</li>
					</ol>
				</div>
			</div>
		</div>
		<div id="result">

		</div>

		
	</div>
</div>
