<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<style type="text/css">
    .nvd3 .nv-legend .disabled circle {
	  fill-opacity: 0;
	}
</style>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart",'line']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Language', 'Byte-Of-Code'],
      <% @lang.sort_by{|x| -x[0]}.each do |item|%>
      ["<%= Lang.find(item[1]).lang%>",  <%= item[0]%>],
     <%end%>
    ]);

  var options = {
  	title: 'Byte of code',
    pieHole: 0.4,
  };

    var chart = new google.visualization.PieChart(document.getElementById('bytechart'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart",'line']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Action', 'Byte-Of-Code'],
      ["Additions",  <%= @modifyNo["added"]%>],
      // ["Changes",  <%= @modifyNo["modify"] %>],
      ["Deletions",  <%= @modifyNo["delete"] %>],
    ]);

  var options = {
  	title: 'Byte of code',
    pieHole: 0.4,
  };

    var chart = new google.visualization.PieChart(document.getElementById('chart_mo'));
    chart.draw(data, options);
  }
</script>
      

<script type="text/javascript">
google.load('visualization', '1', {packages: ['corechart', 'bar']});
google.setOnLoadCallback(drawStacked);

function drawStacked() {
    <%d = @graph%>
     var t_data = [
      <% for i in 0..d.length-1 %>
        [
          <% for j in 0..d[i].length-1 %>
            <% if i == 0 || j == 0%>
              "<%=d[i][j]%>",
            <% else %>
              <%=d[i][j]%>,
            <% end %>
          <% end %>
        ],
      <% end%>
      ]
      var g_color = ["#3366CC","#DC3912","#FF9900","#109618","#990099","#3B3EAC","#0099C6","#DD4477","#66AA00","#B82E2E","#316395","#994499","#22AA99","#AAAA11","#6633CC","#E67300","#8B0707","#329262","#5574A6","#3B3EAC"]
      var data = google.visualization.arrayToDataTable(t_data);
      var ori_data = google.visualization.arrayToDataTable(t_data);
      var max_row = <%=d.length%>
      var max_col = <%=d[0].length%>
      var check = []
      var colour = []
      for(var i = 1 ; i < max_col ;i++){
        check[i] = true;
        colour[i-1] = g_color[i-1];
      }



      var options = {
        width:600,
        height:500,
        'chartArea': {'width': '90%', 'height': '60%'},
        hAxis: {title: "Years", slantedText:true, slantedTextAngle:90,showTextEvery: 4},
        legend: { position: 'top', maxLines: 3 },
        // bar: { groupWidth: '75%' },
        isStacked: true,
        colors: colour,
        animation:{
          duration: 500,
          easing: 'out',
        },
      };

      console.log(options);

      var chart = new google.visualization.ColumnChart(document.getElementById('time_div'));
      chart.draw(data, options);
      
      var stack_b = document.getElementById('stack');

      stack_b.onclick = function() {
        options.isStacked = !options.isStacked;
        var text = options.isStacked ? "Group" : "Stack";
        $("#stack").text(text);
        chart.draw(data, options);
      }

      var hide_b = document.getElementById('hide');

      hide_b.onclick = function() {
        for(var i = 1 ; i<max_col ; i++){
          for(var j = 0 ; j < max_row-1 ; j++){
            data.setValue(j,i,0);
          }
          check[i] = false;
          options.colors[i-1] = "#CCCCCC"
        }
        chart.draw(data, options);
      }

      var show_b = document.getElementById('show');

      show_b.onclick = function() {
        for(var i = 1 ; i<max_col ; i++){
          for(var j = 0 ; j < max_row-1 ; j++){
            data.setValue(j,i,ori_data.getValue(j,i));
          }
          check[i] = true;
          options.colors[i-1] = g_color[i-1]
        }
        chart.draw(data, options);
      }

      google.visualization.events.addListener(chart, 'select', function () {
        console.log(chart.getSelection()[0])
        var row = chart.getSelection()[0].row;
        var col = chart.getSelection()[0].column;
        // console.log("ROW : "+chart.getSelection()[0].row+" COL : "+chart.getSelection()[0].column)

        if(row == null){
          console.log(col)
          if(check[col]){
            for(var i = 0;i<max_row-1;i++){
             data.setValue(i,col,0);
            }
            options.colors[col-1] = "#CCCCCC"
          }
          else{
            for(var i = 0;i<max_row-1;i++){
             data.setValue(i,col,ori_data.getValue(i,col));
            }
            options.colors[col-1] = g_color[col-1]
          }
          check[col] = !check[col]
          chart.draw(data, options);
        }

      });
    }
</script>



<%= render "layouts/header" %>

<div class="container">


	<div class='row'>
		<div class="col-xs-6 col-md-2">
			<a href="#" class="thumbnail">
	      		<img src=<%= @user["avatar_url"] %>>
	    	</a>
	    </div>

	    <div class="col-xs-6 col-md-4">
		    <div class="panel panel-default" style="height:132px">
			  <div class="panel-body" style="padding:0px;padding-left:8px">
			    <h6>Name : <%= @user["name"] %></h6>
			    <h6>Login Name : <%= @user["login"] %></h6>
			    <h6>Email : <%= @user["email"] %></h6>
			    <h6>Register Since : <%= @user["created_at"].strftime("%m/%d/%Y") %></h6>
			    <h6>Location : <%= @user["location"] %></h6>
			  </div>
			</div>
		</div>

		<div class="col-xs-3 col-md-2">
		    <div class="panel panel-default" style="height:132px">
			  <div class="panel-heading">
			  	<h4>Follower</h4>
			  </div>
			  <div class="panel-body">
					<h6><%= @user.follower %></h6>
			  </div>
			</div>
		</div>

		<div class="col-xs-3 col-md-2">
		   <div class="panel panel-default" style="height:132px">
			  <div class="panel-heading">
			  	<h4>Population</h4>
			  </div>
			  <div class="panel-body">
					<h6>n</h6>
			  </div>
			</div>
		</div>

	</div>
	<div class="col-xs-12 col-md-9">
		<div class="panel panel-default"  align="left">
			<div class="row">
				<div id="bytechart" style="width: 45%; display: inline-block"></div>
				<div id="chart_mo" style="width: 50%; display: inline-block"></div>
			</div>
			<div id="test" style="width:100%;text-align: center;">
				<div class="btn-group" role="group" aria-label="...">
				    <button type="button" class="btn btn-default" id = "stack">Group</button>
				    <button type="button" class="btn btn-default" id = "hide">Hide All</button>
				    <button type="button" class="btn btn-default" id = "show">Show All</button>
				  </div>
				<div>
			    	<div id="time_div" style="display:inline-block"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-6 col-md-3">
		<table class='table table-bordered table-hover' style="table-layout: fixed; width: 100%">
			<thead>
				<tr>
					<% repo_owner = @repo.select{|x| x[2]=="owner"} %>
					<th>Own Repository (<%= repo_owner.length %>)</th>
				</tr>
			</thead>
		    <tbody>
			   <% repo_owner[0..3].each do |item|%>
				   	<tr>
			   			<td style="word-wrap: break-word">
			   				<h5><a href="https://github.com/<%= item[3]%>" target="_blank"><%= item[0]%></a></h5>
				   			<h6>
				   				<% if item[1]!="" && item[1]!=nil%>
			   						<% if item[1].length <=200 %>
			   							<small><%= item[1]%></small>
			   						<%else%>
			   							<small><%= item[1][0..200]%></small>
			   							<br>
			   							<small>...</small>
			   						<%end%>
			   					<%else%>
			   							<small>...</small>
			   					<%end%>
			   				</h6>
			   			</td>
			   		</tr>
			   <% end %>
			   <% if repo_owner.length>4%>
				   	<tr>
				   		<td><small>More...</small></td>
				   	</tr>
			   <%end%>
			</tbody>
		</table>
	</div>

	<div class="col-xs-6 col-md-3">
		<table class='table table-bordered table-hover'>
				<thead>
					<tr>
						<% repo_member = @repo.select{|x| x[2]=="member"} %>
						<th>Collaboarate Repository (<%= repo_member.length %>)</th>
					</tr>
				</thead>
			   <tbody>
			   <% repo_member[0..3].to_a.each do |item|%>
			   		<tr>
			   			<td>
			   				<h5><a href="https://github.com/<%= item[3]%>" target="_blank"><%= item[3]%></a></h5>
			   				<h6>
			   					<% if item[1]!="" && item[1]!=nil%>
			   						<% if item[1].length <=200 %>
			   							<small><%= item[1]%></small>
			   						<%else%>
			   							<small><%= item[1][0..200]%></small>
			   							<br>
			   							<small>...</small>
			   						<%end%>
			   					<%else%>
			   							<small>...</small>
			   					<%end%>
			   				</h6>
			   			</td>
			   		</tr>
			   <% end %>
			   <% if repo_member.length>4%>
			   	<tr>
			   			<td><small>More...</small></td>
			   	</tr>
			   <%end%>
			</tbody>
		</table>
	</div>
		<div class="col-xs-12 col-md-12">
			<table class='table table-bordered table-hover'>
				<colgroup>
				    <col style="width:10%">
				    <col style="width:15%">
				    <col style="width:20%">
				    <col style="width:40%">
				</colgroup>  
					<thead>
						<tr>
							<th colspan="4">RecentlyUserEvent</th>
						</tr>
						<tr>
							<th>Date</th>
							<th>EventType</th>
							<th>To</th>
							<th>Message</th>
						</tr>
					</thead>
				   <tbody>
				   <% @event[0..5].to_a.each do |item|%>
				   		<tr>
				   			<td>
				   				<%= item.created_at.strftime("%d/%m/%Y") %>
				   			</td>
				   			<td>
				   				<%= item.event_type %>
				   			</td>
				   			<td>
				   				<%= Repository.find(item.repository_id).full_name %>
				   			</td>
				   			<td>
				   				<% if item.message.length <= 200%> 
				   					<%= item.message %>	
				   					<% else%>
					   					<%= item.message[0..200] %>	
										<br>
					   					<small>Read more...</small>
					   				<%end%>
				   			</td>

				   		</tr>
				   <% end %>
				</tbody>
			</table>
		</div>
</div>
